body {
    font-family: sans-serif;
}
header a {
    font-size: 20px;
    text-decoration: double;
}
nav a {
    font-size: 20px;
    text-decoration: dotted;
}
main img {
    width: 450px;
    height: 300px;
}
h1 {
    color: purple;
    border: 5px groove #1F0772;
    text-align: center;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px blue;
    margin-bottom: 40px;
}
li {
    margin-bottom: 10px;
    margin-top: 10px;
    color: purple;
    font-size: 20px;
}
ul {
    border: 10px groove #1F0772;
    border-radius: 20px;
    margin-bottom: 50px;
    background-image: linear-gradient(to right, aqua, white, blue);
}

header a:hover {
    color: purple;
}
nav a:hover {
    border-bottom: 5px dotted #866FD7;
}
.link-text {
    text-decoration: dotted;
    border-bottom: 10px;
}
ul a:hover {
    border-bottom: 5px dotted blue;
}
.h2 {
    border: 5px groove #1F0772;
    border-radius: 20px;
    text-align: center;
    background-color: aqua;
    box-shadow: 20px 10px 5px 5px blue;
    color: purple;
    margin-top: 50px;
}
ol {
    border: 10px groove #1F0772;
    border-radius: 20px;
    background-image: linear-gradient(to right, aqua, white, blue);
}
.tg {
    border: 4px groove #1F0772;
    border-radius: 100px;
    margin-left: 10px;
}
 .h3{
    font-size: 30px;
    padding-left: 15px;
}
header a {
    text-decoration: dashed;
    background-color: aqua;
    border: 3px groove blue;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    background-image: linear-gradient(to right, aqua, white, blue);
}
footer {
    border: 10px groove navy;
    border-radius: 10px;
    background-image: linear-gradient(to right, aqua, white, blue);
}
header {
    padding: 10px 10px 10px 10px;
}
header a:hover {
    box-shadow: 5px 5px 5px 0px blue;
    transition: 1s ease-out;
}
